.editor-segment {
  width: 50vw;
  background: rgba(221, 221, 221, 0.26);
  height: 100vh;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  overflow: hidden;
  overflow-y: auto;
}

.title-input {
  border: 0;
  background: transparent;
  padding: 10px 0;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  outline: none;
}

.editor-input {
  background: #fff;
  padding: 20px 20px;
  border-radius: 5px;
  margin-top: 20px;

  .input-types {
    margin-top: 15px;
    display: flex;
  }
}

.content-data {
  height: 150px !important;
}
