
.a-logo{
  font-family: 'Trocchi', serif;
  font-size: 30px;
  background: -webkit-linear-gradient(#141e30, #243b55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m-item{
   background: linear-gradient(to right, #141e30, #243b55);
}


 .animated.delay-100 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.animated.delay-200 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animated.delay-300 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.animated.delay-400 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.animated.delay-500 {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animated.delay-600 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}


.animated.delay-700 {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.animated.delay-800 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.animated.delay-900 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

.animated.delay-1000 {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}


.animated.delay-1200 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

.animated.delay-1300 {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}


.animated.delay-1400 {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}


.animated.delay-1500 {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}


.animated.delay-1600 {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}

.animated.delay-1700 {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}

.animated.delay-1800 {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}

.animated.delay-1900 {
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
}