



.a-logo{
  font-family: 'Trocchi', serif;
  font-size: 30px;
  background: -webkit-linear-gradient(#2C5364, #203A43, #0F2027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}


hr{
  border-width: 0.3px;
}

.m-item{
   background: linear-gradient(to right, #141e30, #243b55);
}

.btn{
     background: linear-gradient(to right, #141e30, #243b55);
     font-size: 13px;
}

#peditor, #pmanual, #pmedia{
  display: none;
}

.image-item{
  /*box-shadow: 0px 8px 20px -4px rgba(97,144,176,1);*/
  border-radius: 4px;
}

.left-bar{
  padding: 5px;
  border-left: 3px solid #333; 
}

.del-icon{
  transition: 0.3s;
}

.del-icon:hover{
  color: red;
  cursor: pointer;
  transition: 0.3s;
}

.text-item{
  border-radius: 3px;
  border: 2px solid #ddd;
}

.file-item {
 border-radius: 3px;
 border: 2px solid #4EAFE3;
 background: #E6F5FD;
}

#textField{
  padding: 10px;
  min-height: 200px !important;  
  margin-top: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}

.editor-btn{
  margin-right: 15px;
}

.fa{
  font-size: 16px !important;
}

.text-muted{
  color: #aaa !important;
}

tr{
  margin: 10px !important;
}

th{
  font-size: 13px;
  text-transform: uppercase;
}

.divider{
  padding: 2px;
 
background: #16222A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: 0.5s;
  width: 4px;
}

.media-item{
  border-radius: 4px;
  transition: 0.3s;
}

.media-item:hover{
  cursor: pointer;
  box-shadow: -2px 11px 23px -5px rgba(93,132,161,0.74);
  transition: 0.3s;
   -webkit-filter: sepia(20%); 
  filter: sepia(20%);
}




 .animated.delay-100 {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.animated.delay-200 {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.animated.delay-300 {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.animated.delay-400 {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.animated.delay-500 {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.animated.delay-600 {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}


.animated.delay-700 {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.animated.delay-800 {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.animated.delay-900 {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}

.animated.delay-1000 {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}


.animated.delay-1200 {
  -webkit-animation-delay: 1200ms;
  animation-delay: 1200ms;
}

.animated.delay-1300 {
  -webkit-animation-delay: 1300ms;
  animation-delay: 1300ms;
}


.animated.delay-1400 {
  -webkit-animation-delay: 1400ms;
  animation-delay: 1400ms;
}


.animated.delay-1500 {
  -webkit-animation-delay: 1500ms;
  animation-delay: 1500ms;
}


.animated.delay-1600 {
  -webkit-animation-delay: 1600ms;
  animation-delay: 1600ms;
}

.animated.delay-1700 {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}

.animated.delay-1800 {
  -webkit-animation-delay: 1700ms;
  animation-delay: 1700ms;
}

.animated.delay-1900 {
  -webkit-animation-delay: 1900ms;
  animation-delay: 1900ms;
}